   .pre{
       position: relative;
       .privilege_img {
        margin-bottom: 2rem;
    }
    
    .expiredstyle{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        background: rgba(0,0,0,0.8);
        img{
            width: 20%;
            @include center;
        }
    }
   }

    .details_popup {
        @include wh(100%, 50%);
        background: #eeeeee;
        position: fixed;
        bottom: 0;
        z-index: 99;
        padding: 1.5rem 2rem;
        padding-top: 3rem;
        -webkit-transform:translate3d(0, 100%, 0);
         webkit-transition:all .4s cubic-bezier(.4, .01, .165, .99);
        .close_pop {
            display: block;
            @include wh(5rem, 2.5rem);
            @include bis('../../assets/Android/drawable-xhdpi/xialaanniu.png');
            top: 0.5rem;
            left: 50%;
            position: absolute;
            margin-left: -2.5rem;
        }
        .ruleText {
            width: 100%;
            height: 100%;
            line-height: 1.6rem;
            font-size: 1.4rem;
            overflow: auto;
            padding-bottom: 4.4rem;
        }

        .ruleText table {
            overflow: hidden;
            border-spacing: 0;
        }
        .ruleText td {
            white-space: nowrap;
            border-top: 1px solid #ccc;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            padding: 1px;
            padding-left: 5px;
            background-color: #f1f4f5;
        }
    }
    
.active_popup{
    -webkit-transform: translate3d(0, 0, 0);
    webkit-transition:all .4s cubic-bezier(.4, .01, .165, .99);
}
