.log_logo {
    @include wh(100%, 9rem);
    position: relative;
    img {
        width: 40%;
        @include center;
    }
}

.bg_zong {
    @include wh(100%, 100%);
    position: fixed;
    background: #332c1c;
}

.header_txt {
    display: inline-block;
    color: #fff;
    font-size: 1.8rem;
    @include center;
}
.common_list {
    width: 100%;
    padding-bottom: 3rem;
    li {
        @include wh(80%, 4rem);
        margin: 0 auto;
        position: relative;
        margin-bottom: 2.2rem;
        z-index: 75;
        label {
            @include wh(10%, 4rem);
            position: absolute;
            border: none;
            img {
                width: 1.05rem;
                @include cr;
            }
        }
        .forget_pass {
            @include cr;
            text-decoration: underline;
            right: 1rem;
        }
        .common_put {
            width: 100%;
            height: 100%;
            border: none;
            padding-left: 11.5%;
            background: #fff;
            font-size: 1.2rem;
            box-shadow: 0.5px 0.866px 1px 0px rgb( 1, 1, 1);
            border-radius: 4rem;
        }
        .com_btn {
            padding-left: 0;
            background: #ff9900;
            color: black;
            font-size: 1.8rem;
        }
    }
    .btn_li {
        background: none;
        box-shadow: none;
        input {
            @include wh(46%, 4rem);
            font-size: 1.8rem;
            color: rgb( 0, 0, 0);
            line-height: 4rem;
            border-radius: 2rem;
            box-shadow: 0.5px 0.866px 1px 0px rgb( 1, 1, 1);
            z-index: 71;
        }
        .submit_btn {
            background-color: #f19719;
            float: right;
        }
        .login_btn {
            background-color: #2a6f25;
            float: left;
        }
    }
    .code_li {
        background: none;
        box-shadow: none;
        margin-bottom: 4rem;
        label {
            position: absolute;
            border-bottom-left-radius: 4rem;
            border-top-left-radius: 4rem;
        }
        .code_txt {
            @include wh(60%, 4rem);
            background: #fff;
            padding-left: 11.5%;
            box-shadow: 0.5px 0.866px 1px 0px rgb( 1, 1, 1);
            border-radius: 4rem;
            font-size: 1.2rem;
        }
        
    }
}

.copyright {
    width: 100%;
    height: 2rem;
    position: fixed;
    bottom: 0;
    background: #f19818;
    font-family: "Microsoft YaHei";
    line-height: 2rem;
    text-align: center;
    z-index: 888;
}

   .error{position: fixed;width: 100%;overflow: hidden;height: 2rem;bottom: 3.5rem;
              .error_txt{position: absolute;text-align: center;height: 2rem;width: 100%;line-height: 2rem;color: #fff;font-size: 1.4rem;background: lightsalmon;}
        }
